.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    align-items: start;
    max-width: 80%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 2s;
}
/* .header{
    margin: 30px auto;
    height: 40vw;
    background: url('../assets/headerbackground.jpg') no-repeat center;
    background-size:contain;
    position:relative;
    color: white;
    border-radius: 30px;
    text-shadow: 0 0 0.9em #000000;
} */
 .background_image{
    margin: 30px auto;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-self: center;
 }